:root {
	--min-col-width: 100px;
	--border-color: #ccc;
	--cell-pad-y: 6px;
	--cell-pad-x: 8px;
	--thead-bg: #00796B;
	--tfoot-bg: #4DB6AC;
	--row-alt-bg: #E0F2F1;
	--group-head-bg: #B2DFDB;
	--resize-active-bg: #00897B;
	--resize-active-handle: #1DE9B6;
}

.dt {
	max-width: 1280px;
	margin: 0 auto;
	&-head,
	&-body,
	&-group,
	&-group-header,
	&-group-body,
	&-row {
		display: contents;
	}

	&-grid {
		border: 1px solid var(--border-color);
		display: grid;
		overflow-x: auto;
		position: relative;
		grid-template-columns:
    repeat(7, minmax(var(--min-col-width), 1fr))
	}
	/*****
		Datatable layout sections
	*****/
	&-head {}
	&-body {}
	&-footer {
		padding: calc(3* var(--cell-pad-y)) calc(3 * var(--cell-pad-x));
		background: var(--tfoot-bg);
		color: white;
		grid-column: 1 / -1;
		text-align: left;
	}
	/*****
		Datatable row group
	*****/
	&-group {
		&-bg {
			background: var(--group-head-bg);
			padding: var(--cell-pad-y) 0;
		}
		&-select {
			grid-column: 1 / 2;
		}
		&-name {
			color: #4a4a4a;
			font-weight: 700;
			grid-column: 2 / -2;
			padding-left: 1rem;
			text-align: left;
		}
		&-action {
			grid-column: -1 / -2;
		}
	}

	/*****
		Datatable commons
	*****/
	&-group-body .dt-row {
		&:nth-child(even) .dt-cell {
			background: var(--row-alt-bg);
		}
	}
	&-th {
		background: var(--thead-bg);
		color: white;
		font-weight: 700;
		position: relative;
		&.active-resize {
			background: var(--resize-active-bg)
		}
	}

	&-th,
	&-cell {
		padding: var(--cell-pad-y) var(--cell-pad-x);
		border-right: 1px solid var(--border-color);
		&:last-of-type {
			border: none;
		}
	}
}

.resize-handle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--resize-active-handle);
	opacity: 0;
	width: 5px;
	cursor: col-resize;
	z-index: 10;
	overflow: hidden;
	&:hover {
		background: var(--resize-active-handle);
		opacity: .7;
	}
}
